body {
  display: flex;
  flex-direction: column;
  width: 512px;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 512px;
  height: 552px;  
}

.box {
  display: flex;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  justify-content: center;
  align-items: center; 
}

